#container-novo-chamado {
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px
}
#container-novo-chamado h3 {
    margin: 0px 0px 20px 0px;
}
.parte2-form {
    display: flex;
    gap: 20px;
}
.parte-form {
    margin-bottom: 10px;
}
input, select, textarea {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 4px;
    border: 1px solid #27272769;
    border-radius: 3px;
}
#form-local, #form-usuario {
    width: 300px;
}
#form-assunto, #form-descricao {
    width: 410px;
}
#form-descricao {
    height: 150px;
    resize: none;
}