<div class="conteiner-conteudo-geral">
    <h3>Novo chamado</h3>
    <form class="row g-3" [formGroup]="formChamado" (ngSubmit)="onSubmit()">
        <div class="col-6">
            <label class="form-label">Usuário:</label>
            <input class="form-control" type="email" placeholder="usuario@example.com" formControlName="criado_por">
        </div>
        <div class="parte2-form">
            <div class="col-4">
                <label class="form-label">Local: </label>
                <input class="form-control" type="text" id="form-local" formControlName="local">
            </div>
            <div class="col-1">
                <label class="form-label">Prioridade:</label>
                <select class="form-select" name="select" id="prioridade" formControlName="prioridade">
                    <option value="alta">Alta</option>
                    <option value="normal">Normal</option>
                    <option value="baixa">Baixa</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Assunto:</label>
            <input class="form-control" type="text" id="form-assunto" formControlName="assunto">
        </div>
        <div class="col-12">
            <label class="form-label">Descrição:</label>
            <textarea class="form-control" name="descricao" formControlName="descricao"></textarea>
        </div>
        <div>
            <input class="form-control" type="file" name="anexo" id="form-anexo" formControlName="anexo">
        </div>
        <button class="btn btn-enviar" type="button" (click)="click()">Enviar</button>
    </form>
</div>
