<div id="container-novo-chamado">
    <h3>Novo chamado</h3>
    <form>
        <div class="parte-form">
            <legend>Usuário:</legend>
            <input type="email" id="form-usuario" placeholder="usuario@example.com">
        </div>
        <div class="parte-form parte2-form">
            <div>
                <legend>Local: </legend>
                <input type="text" id="form-local">
            </div>
            <div>
                <legend>Prioridade:</legend>
                <select name="select" id="prioridade">
                    <option value="alta">Alta</option>
                    <option value="normal">Normal</option>
                    <option value="baixa">Baixa</option>
                </select>
            </div>
        </div>
        <div class="parte-form">
            <legend>Assunto:</legend>
            <input type="text" id="form-assunto">
        </div>
        <div class="parte-form">
            <legend>Descrição:</legend>
            <textarea name="descricao" id="form-descricao"></textarea>
        </div>
        <div>
            <input type="file" name="anexo" id="form-anexo">
        </div>
    </form>
</div>
