<div id="body-sidebar">
    <div class="titulo-sidebar">
        <img src="../../assets/logo_esfera_branca.png" alt="Logo Esfera Branca">
        <h2>esfera</h2>
    </div>
    <div class="conteudo-sidebar">
        <li routerLink="/dashboards" routerLinkActive="atvC">
            <img src="../../assets/icons-grafico-24.png" alt="Dashboards">
            Dashboards
        </li>
        <li routerLink="/novo-chamado" routerLinkActive="atvC">
            <img src="../../assets/icons-adicionar-24.png" alt="Criar novo Chamado">
            Criar Novo Chamado
        </li>
        <li routerLink="/meus-chamados" routerLinkActive="atvC">
            <img src="../../assets/icons-lista-24.png" alt="Meus Chamados">
            Meus Chamados
        </li>
        <li routerLink="/lista-chamados" routerLinkActive="atvC">
            <img src="../../assets/icons-lista-24.png" alt="Lista de Chamados">
            Lista de Chamados
        </li>
    </div>
</div>
