<div class="conteiner-conteudo-geral" *ngIf="!isLoading">
    <h3>Lista de chamados</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Usuário</th>
                <th scope="col">Assunto</th>
                <th scope="col">Prioridade</th>
                <th scope="col">Local</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dado of dados; let i = index" (click)="clickChamado(dado[1].id, dado)" [routerLink]="[dado.id]">
                <td>{{dado[1].criado_por}}</td>
                <td>{{dado[1].assunto}}</td>
                <td><div class="prioridade" [ngClass]="stylePrioridade(dado[1].prioridade)">{{dado[1].prioridade}}</div></td>
                <td>{{dado[1].local}}</td>
            </tr>
        </tbody>
        </table>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

